:root {
    --background-color: #00308F;
    --fill-color:  white;
    --font-grl: "Poppins", sans-serif;
}

html {
    background-image: radial-gradient(#DF4B4B 5%, #8A181F);
    width: 100%;
    height: 100%;
    color: white;
    font-family: var(--font-grl);
}

ul {
    padding-left: 0;
}

.container {
    position: relative;
}
/* button */
.btn {
    border: 2px solid white;
    background-color: transparent;
    border-radius: 28px;
    padding: 12px 42px;
    font-family: var(--font-grl);
    margin-right: 15px;
    cursor: pointer;
    opacity: 0.7;
    transform: scale(1);
    transition:  0.8s ease;
    outline: none;
    color: #fff;
}

.btn:hover {
    opacity: 1;
    transform: scale(1.05);
    box-shadow: 0 0 5px 5px white;
    /* box-shadow: x y blur scale color */
}

.content__btn--1,
.content__btn--2 {
    padding-left: 55px;
    padding-right: 55px;
}
/* header */
.categories.header :is(.btn--1, .btn--2, .btn--3, .btn--4) {
    font-family: var(--font-grl);
    font-size: 16px;
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
}

.categories.header :is(.btn--1, .btn--2, .btn--3, .btn--4) {
    position: relative;
    padding: 5px 10px;
}

.btn--4 span,
.btn--3 span,
.btn--2 span,
.btn--1 span {
    position: absolute;
    background-color: black;
    display: block;
    transition: 0.25s linear;
}

.btn--4 span:nth-child(1),
.btn--3 span:nth-child(1),
.btn--2 span:nth-child(1),
.btn--1 span:nth-child(1) {
    top: 0;
    left: 0;
    width: 0;
    height: 3px;   
}

.btn--4 span:nth-child(2),
.btn--3 span:nth-child(2),
.btn--2 span:nth-child(2),
.btn--1 span:nth-child(2)  {
    top: 0;
    right: 0;
    width: 3px;
    height: 0;
    transition-delay: 0.25s;
}

.btn--4 span:nth-child(3),
.btn--3 span:nth-child(3),
.btn--2 span:nth-child(3),
.btn--1 span:nth-child(3)  {
    bottom: 0;
    right: 0;
    width: 0;
    height: 3px;
    transition-delay: 0.5s;
}

.btn--4 span:nth-child(4),
.btn--3 span:nth-child(4),
.btn--2 span:nth-child(4),
.btn--1 span:nth-child(4) {
    left: 0;
    bottom: 0;
    width: 3px;
    height: 0;
    transition-delay: 0.75s;
}

.btn--4:hover span:nth-child(odd),
.btn--3:hover span:nth-child(odd),
.btn--2:hover span:nth-child(odd),
.btn--1:hover span:nth-child(odd) {
    width: 100%;
}

.btn--4:hover span:nth-child(even),
.btn--3:hover span:nth-child(even),
.btn--2:hover span:nth-child(even),
.btn--1:hover span:nth-child(even) {
    height: 100%;
}

/* .btn--4:before,
.btn--3:before,
.btn--2:before,
.btn--1:before {
    background-color: black;
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: width 0.25s ease-in;
} */

/* .btn--4:before,
.btn--3:before,
.btn--2:before,
.btn--1:before {
    background-color: black;
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 0;
    width: 4px;
    z-index: -1;
    transition: height 0.5s ease-in;
} */

.btn--4:hover:before,
.btn--3:hover:before,
.btn--2:hover:before,
.btn--1:hover:before {
    /* height: 100%; */
    width: 100%;
}

.png {
    width: 120px;
    height: inherit;
    transform: translateY(-16%);
    margin-left: 24px;
}

.categories {
    text-align: center;
    line-height: 50px;
    list-style: none;
}

.container__header {
    height: 50px;
}

.categories .categories__games {
    margin-left: auto;
}

.categories .categories__chat {
    margin-right: 64px;
}

.categories :is(.categories__games, .categories__review, .categories__FAQ, .categories__chat) {
    margin-right: 30px;
}

/* .categories li:nth-of-type(6) {
    top: 0;
} */

/* details */
.content__trending {
    font-weight: 600;
}

.content__subtitle {
    font-family: var(--font-grl);
    font-weight: 200;
    font-size: 21px;
}

.content__title {
    margin: 0;

}

.container__details {
    margin-top: 128px;
    margin-left: 16px;
}

.content__title {
    font-family: "Permanent Marker", cursive;
    font-size: 40px;
}

/* image */
.container__png {
    position: absolute;
    background: url(../img/leesin.png) no-repeat ;
    height: 80vh;
    width: 60vw;
    bottom: 0px;
    right: 0px;
}
/* icon */
.categories .content__icon > i {
    display: inline-block;
}

.categories.content__icon {
    display: flex;
    font-size: 32px;
    gap: 40px;
    margin-top: auto;
}
/* animation */
@keyframes slideInLeft {
    from {
        transform: translateX(-300px);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(1000px);
    }

    to {
        transform: translateX(0);
    }
}

.container__details {
    animation-name: slideInLeft;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    /* animation-fill-mode: forwards; */
    /* transform: translateX(-150px); */
}

.container__png {
    animation-name: slideInRight;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    /* animation-fill-mode: forwards; */
    /* transform: translateX(-150px); */
}